<fieldset>
  <ul>
    <li>
      <%= link_to_remove_fields "Remove", "#", class: "remove_fields"%>
    </li>
    <li>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Username' %>
    </li>
    <li>
      <%= f.text_field :short, class: 'form-control', placeholder: 'Name Social Media' %>
    </li>
    <li>
       <%= f.check_box :_destroy %>
    </li>
  </ul>
</fieldset>