<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each_with_index do |user, index| %>
     <tr>
      <td><%= index+=1 %></td>
      <td><%= user.name %></td>
      <td><%= user.role.name %></td>
      <td>Show | Edit | Delete <td>
    </tr>
    <% end %>
  </tbody>
</table>