<div class="container-fluid">
<%= render "layouts/navbar" %>
  <div class="card">
    <div class="card-header">
    <ul>
      <li>
        <%= link_to 'Create Role', form_role_path ,class: 'btn btn-outline-success' %>
      </li>
      <li>
        <%= link_to 'Add User', form_register_path, class: 'btn btn-outline-success' %>
      </li>
      <li>
        <h2>User</h2>
      </li>
    </ul>
    </div>
    <div class="card-body" id="users">
      <%= render 'auth/user' %>
    </div>
  </div>
</div>

